<%- include("partials/head.ejs") %>

<header class="d-flex flex-wrap justify-content-center py-0 mb-0">
  <a
    href="/"
    class="d-flex align-items-center mb-0 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <img
      src="img/logo.png"
      class="bi me-2"
      width="150"
      height="150"
      alt="logo image"
    />
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item"><a href="/FAQs" class="nav-link">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
  </ul>
</header>
<%- include("partials/carrocel.ejs") %> <%- include("partials/infos.ejs") %> <%-
include("partials/carrocel2.ejs") %> <%- include("partials/footer.ejs") %>
